@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clase para el fondo global de la aplicación */
.app-background {
  background-image: url('/fondo.png');
  background-size: cover;      /* Hace que la imagen cubra toda la pantalla */
  background-position: center; /* Mantiene la imagen centrada */
  background-attachment: fixed; /* Evita que el fondo se mueva al hacer scroll */
  background-repeat: no-repeat; /* Evita que la imagen se duplique */
}

/* Color de respaldo por si la imagen tarda unos milisegundos en cargar */
body {
  background-color: #f3f4f6; 
}